.container-ofertas{
    display: flex;
    padding: 0 12rem;
    justify-content: space-around
}

div.product-section-1 {
    margin-top: 15rem;
    margin-bottom: 10rem;
    display: flex;
    height: 30rem;
    width: 60rem;
}

.product-section-1 .product-section__portrays{
    display: flex;
    width: 80%;
}

.product-section-1 .product-section__portrays .product-section__box{
    margin-right: 3rem;
    height: 100%;
    width: 80%;
}

.product-section-1 .product-section__portrays .product-section__box img{
    height: 100%;
}

.product-section-1 .product-section__portrays .product-section__box {
    position: relative;
}

.product-section-1 .product-section__portrays .product-section__box--horizontal {
    position: relative;
}

.cartel-oferta {
    background-color: #08569B ;
    position: absolute;
    padding: 0 1rem;
    bottom: .02rem;
    left: 1.5rem;
}

.cartel-oferta__horizontal {
    background-color: #08569B ;
    position: absolute;
    padding: 0 1rem;
    bottom: .02rem;
    left: 1.5rem;
}

.cartel-oferta p {
    margin-top: .9rem;
    text-align: center;
    font-size: 1.3rem;
}

.product-section-1 .product-section__portrays .product-section__horizontal-boxes{
    display: flex;
    flex-direction: column;
    width: 100%;
}


.product-section-1 .product-section__portrays .product-section__horizontal-boxes .product-section__box--horizontal{
    margin-bottom: 2rem;
    border-radius: 7px;
    overflow: hidden;
    height: 50%;
}

.product-section-1 .product-section__portrays .product-section__horizontal-boxes .product-section__box--horizontal img{
    height: 100%;
}

.product-section-1 .product-section__portrays .product-section__horizontal-boxes .product-section__box--horizontal:last-child{
    margin-bottom: 0;
}

.product-section-2{
    margin-top: 15rem;
    height: 30rem;
}

.product-section-2 .product-section-2__portrays{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.product-section-2 .product-section-2__portrays .product-section-2__box--1{
    height: 100%;
    transform: translateX(12rem);
    z-index: 1;
    border: 10px solid #1C2437;
}

.product-section-2 .product-section-2__portrays .product-section-2__box--2{
    height: 100%;
    transform: translateX(8rem);
    z-index: 2;
    border: 10px solid #1C2437;
}

.product-section-2 .product-section-2__portrays .product-section-2__box--3{
    height: 100%;
    z-index: 3;
    border: 10px solid #1C2437;
}

.product-section-2 .product-section-2__portrays .product-section-2__box--1 img{
    height: 100%;
}

.product-section-2 .product-section-2__portrays .product-section-2__box--2 img{
    height: 100%;
}

.product-section-2 .product-section-2__portrays .product-section-2__box--3 img{
    height: 100%;
}

.product-section-2 .product-section-2__portrays .product-section-2__box:hover{
    transform: scale(1.2);
    z-index: 20;
}

.product-section-2 .product-section-2__portrays:hover .product-section-2__box:not(:hover){
    transform: scale(1.03);
}

.aside-juegos{
    margin-top: 6rem;
}

div.lista-de-juegos{
    padding: 0 40rem;
}

ul.aside--list {
    list-style: none;
}

ul.aside--list .aside--list--items a{
    text-decoration: none;
    color: white;
    font-size: 1.7rem;
}

section.all-products h2{
    color: white;
    font-size: 3rem;
    margin-bottom: 2.5rem; 
    padding-bottom: 1rem;
    border-bottom: 2px solid #2D4681;
    width: 11rem;
}

section.all-products article.all-products--game{
    margin-right: 6rem;
    margin-bottom: 2rem;
}

section.all-products article.all-products--game a img{
    width: 18rem;
}

section.all-products article.all-products--game p{
    color: white;
    font-size: 1.5rem;
}

section.all-products article.all-products--game div.all-products--game--img a img {
    width: 18rem;
    height: 21rem;
}



