.container-cargaDeProducto{
    font-size: 1.4rem;
}

label.checkbox-label {
    font-size: 1.6em;
}
  
input.form-checkbox {
    display: inline-block;
    border-radius: 8px;
    border: none;
}

.form-button-cargaProducto {
    background-color: white;
    font-size: 1.6em;
    color: #000000;
    border-radius: 5px;
    border: none;
    padding: 10px 15px;
    margin: 0 190px;
}

/*.form-slider {
    color: white;
}*/

input.form-input-img {
    display: block;
    background-color: grey;
    width: 30%;
    height: 45px;
    margin-bottom: 15px;
    font-size: 1.5em;
    border-radius: 8px;
    border: none;
    border: solid 1px #b8b8b8;
    padding: .5rem 2rem;
}