.container-register{
    font-size: 1.4rem;
    background-image: linear-gradient(to bottom, #223052, #191E29);
    margin: 6rem auto;
}

form.register-form {
    padding: 7rem 0;
    margin-left: 10rem; 
}

form.register-form h1 {
    padding-bottom: 3rem;
}

label.register-form-label {
    display: block;
    font-size: 1.6em;
    margin: 10px 0;
    background-color: #2568AC;
    padding: 1rem;
    width: 90%;
}
  
input.register-form-input {
    display: block;
    width: 75%;
    height: 45px;
    margin-bottom: 15px;
    font-size: 1.5em;
    border-radius: 8px;
    border: none;
    border: solid 1px #b8b8b8;
    padding: 0 15px;
}

select.register-form-input {
    display: block;
    width: 90%;
    height: 45px;
    margin-bottom: 15px;
    font-size: 1.5em;
    border-radius: 8px;
    border: none;
    padding: 0 15px;
}

.register-form-button {
    position: relative;
    font-size: 1.6em;
    background-color: #2568AC;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 1rem 5rem;
    margin-top: 6.5rem;
    margin-left: 12rem;
    cursor: pointer;
    z-index: 1;
    transition: .2s ease-in;
    transition: .4s;
}

.register-form-button:before {
    content: "";
    position: absolute;
    background-color: #00A6FF;
    border-radius: 5px;
    left: 0;
    bottom: 0;
    height: 0px;
    width: 100%;
    z-index: -1;
    transition: .2s ease-in;

}

.register-form-button:hover:before {
    height: 100%;
}

.register-form-button:hover {
    transform: scale(1.05);
}