.container-buyDelivery{
    min-height: 65rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2-buyDelivery {
    display: flex;
    min-height: 40rem;
    min-width: 100rem;
    justify-content: space-between;
    background-color: #2D4681;
    padding: 3rem;
    border-radius: 8px;
    box-shadow: 0 0 10px 3px #010212;
    margin: 10rem;
}

.buyDelivery__title-cont{
    margin-bottom: 2rem;
}

h1.buyDelivery__title {
    font-size: 42px;
}

.buyDelivery__inputs-cont-single label {
    font-size: 24px;
}

.buyDelivery__inputs-cont-single p input {
    border-radius: 5px;
    background-color: transparent;
    border-color: white white white white;
    font-size: 16px;
    padding: .5rem 1rem;
    width: 30rem;
    color: white;
}

.buyDelivery__line{
    height: .2rem;
    background-color: darkblue;
}

.buyDelivery__icon{
    margin-left: 1.7rem;
}

.buyDelivery__group{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3rem;
}

.buyDelivery__right-section{ 
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 40rem;
    margin-top: 7rem;
    margin-right: 3rem;
}

.buyDelivery__slider-i{
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    margin-bottom: 1.5rem;
    border: none;
}

.buyDelivery__slider-i button {
    background-color: #ffff;
    color: #fff;
    height: .3rem;
    width: 1rem;
    cursor: pointer;
    border: none;
}

.buyDelivery__slider-i button:hover,
.buyDelivery__slider-i button.buyForm-btn__active{
    background: red;
    border: none;
}

.buyDeliver__position-relative{
    position: relative;
}

.buyDelivery__carousel-games{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 20rem;
    overflow: hidden;
    scroll-behavior: smooth;
}

.buyDelivery__arrow-left{
    margin-right: 2rem;
    font-size: 2rem; 
    position: absolute;
    cursor: pointer;
    top: calc(50% - 25%);
    z-index: 500;
    left: -20px;
}

.buyDelivery__arrow-right{
    margin-left: 2rem;
    font-size: 2rem;
    position: absolute;
    cursor: pointer;
    top: calc(50% - 25%);
    z-index: 500;
    right: -20px;
}

.buyDelivery__game{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buyDelivery__img-cont{
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 2rem;
}

.buyDelivery__img-product{
    height: 20rem;
    min-width: 15rem;
    margin: 0 2.5rem;
}

.buyDelivery__line-2{
    height: .2rem;
    width: 100%;
    background-color: darkblue;
}

.buyDelivery__price-modifer{
    margin-top: 1rem;
}

.buyDelivery__continue-btn button {
    position: relative;
    background-color: white;
    font-size: 1.6em;
    background-color: #2568AC;
    color: white;
    border-radius: var(--button-border-radius);
    border: none;
    padding: 1rem 5rem;
    margin-top: 20rem;
    cursor: pointer;
    z-index: 1;
    transition: .2s ease-in;
    transition: .4s;
}

.buyDelivery__continue-btn button {
    text-decoration: none;
    color: white;
}
  
.buyDelivery__continue-btn button:before {
    content: "";
    position: absolute;
    background-color: var(--button-bg-color);
    border-radius: 5px;
    left: 0;
    bottom: 0;
    height: 0px;
    width: 100%;
    z-index: -1;
    transition: .2s ease-in;
  }
  
.buyDelivery__continue-btn button:hover:before {
    height: 100%;
}
