.container-buyDelivery{
    min-height: 65rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2-buyDelivery{
    display: flex;
    min-height: 32rem;
    min-width: 70rem;
    justify-content: space-between;
}

.buyDelivery__title-cont{
    margin-bottom: 2rem;
}

.buyDelivery__line{
    height: .2rem;
    background-color: darkblue;
}

.buyDelivery__icon{
    margin-left: 1.7rem;
}

.buyDelivery__group{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3rem;
}

.buyDelivery__right-section{ 
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 40rem;
}

.buyDelivery__slider-i{
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    margin-bottom: 1.5rem;
    border: none;
}

.buyDelivery__slider-i button {
    background-color: #ffff;
    color: #fff;
    height: .3rem;
    width: 1rem;
    cursor: pointer;
    border: none;
}

.buyDelivery__slider-i button:hover,
.buyDelivery__slider-i button.buyForm-btn__active{
    background: red;
    border: none;
}

.buyDeliver__position-relative{
    position: relative;
}

.buyDelivery__carousel-games{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 20rem;
    overflow: hidden;
    scroll-behavior: smooth;
}

.buyDelivery__arrow-left{
    margin-right: 2rem;
    font-size: 2rem; 
    position: absolute;
    cursor: pointer;
    top: calc(50% - 25%);
    z-index: 500;
    left: -20px;
}

.buyDelivery__arrow-right{
    margin-left: 2rem;
    font-size: 2rem;
    position: absolute;
    cursor: pointer;
    top: calc(50% - 25%);
    z-index: 500;
    right: -20px;
}

.buyDelivery__game{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buyDelivery__img-cont{
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 2rem;
}

.buyDelivery__img-product{
    height: 20rem;
    min-width: 20rem;
}

.buyDelivery__line-2{
    height: .2rem;
    width: 100%;
    background-color: darkblue;
}

.buyDelivery__price-modifer{
    margin-top: 1rem;
}

.buyDelivery__continue-btn{
    margin-top: auto;
}
