.container-productLoader{
    font-size: 1.4rem;
    background-image: var(--secodary-bg-color);
    margin: 6rem auto;
}

form.productLoader-form {
    padding: 7rem 0;
    margin-left: 5rem;
}

form.productLoader-form h1 {
    padding-bottom: 3rem;
}

label.productLoader-form-label {
    display: block;
    font-size: 1.6em;
    margin: 10px 0;
    background-color: #2568AC;
    padding: 1rem;
    width: 90%;
}

label.productLoader-form-label-imgInput {
    display: block;
    font-size: 1.6em;
    margin: 10px 0;
    background-color: #2568AC;
    padding: 1rem;
    width: 44%;
}

label.productLoader-checkbox-label {
    font-size: 1.3em;
}
  
input.productLoader-form-checkbox {
    display: inline-block;
    border-radius: 8px;
    border: none;
}

.productLoader-form-button {
    background-color: white;
    font-size: 1.6em;
    background-color: var(--button-bg-color);
    color: white;
    border-radius: var(--button-border-radius);
    border: none;
    padding: 1rem 5rem;
    margin-top: 6.5rem;
    margin-left: 15rem;
}

input.productLoader-form-input {
    display: block;
    width: 75%;
    height: 45px;
    margin-bottom: 15px;
    font-size: 1.5em;
    border-radius: 8px;
    border: none;
    border: solid 1px #b8b8b8;
    padding: 0 15px;
}

/*.form-slider {
    color: white;
}*/

select.productLoader-form-input {
    display: block;
    width: 90%;
    height: 45px;
    margin-bottom: 15px;
    font-size: 1.5em;
    border-radius: 8px;
    border: none;
    padding: 0 15px;
}

input.productLoader-form-input-img {
    display: block;
    background-color: grey;
    width: 30%;
    height: 45px;
    margin-bottom: 15px;
    font-size: 1.5rem;
    border-radius: 8px;
    border: none;
    border: solid 1px #b8b8b8;
    padding: .5rem 2rem;
}