div .compra {
    height: 9rem;
}

.precio {
    font-size: 3.8rem; /*7rem*/
}

.botones-administrador{
    float: right;
}

.detalle-juego {
    margin: 0%;
    padding: 0;
}

.contenedor-principal {
    display: flex;
    align-items: center;
    position: relative;
}

.contenedor-principal .flecha-derecha,
.contenedor-principal .flecha-izquierda {
    position: absolute;
    font-size: 20px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    height: 50%;
    top: calc(50%-25%);
    line-height: 40px;
    width: 20px;
    color: white;
    cursor: pointer;
    z-index: 500;
    transition: .2s ease all;
}

.contenedor-principal .flecha-left {
    left: 0;
}

.contenedor-principal .flecha-izquierda {
    right: 0;
}

.contenedor-principal .flecha-derecha:hover,
.contenedor-principal .flecha-izquierda:hover {
    background-color: rgb(255, 255, 255,0.5);
    color: whitesmoke;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.5);

}

.indicadores button {
    position: absolute;
    align-items: center;
    display: flex;
    height: 3px;
    width: 10px;
    background-color: white;
    cursor: pointer;
    border: none;
    margin-left: 2PX;
}

.contenedor-carrusel {
    overflow: hidden;
    scroll-behavior: smooth;
}

.contenedor-carrusel{
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
}

.contenedor-carrusel .imagen-gameplay {
    min-width: 20%;
    transition: .3s ease all;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);

}

.contenedor-carrusel .imagen-gameplay:hover {

    transform: scale(1.2);
    transform-origin: center;

}

.contenedor-carrusel .imagen-gameplay img {
    width: 100%;
    vertical-align: top;
    height: 9rem;
}

.compra {

    display: flex;
    justify-content: space-between;
    font-size: 25px;
    align-items: flex-end;
}

.compra i {
    color: whit;
}


section .detalle-juego {
    justify-content: space-between;
}

i.rating {
    color: goldenrod;
}

.otros-juegos {
    margin-top: 5rem;
    margin-bottom: 1rem;
    margin-left: 4rem;
    grid-column-gap: 12rem;
    grid-row-gap: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 6rem;
}

.otros-juegos a article div img {
    width: 20rem;
    height: 25rem;
}

.otros-juegos a {
    color: white;
}
.span-detail {
    color: grey;
}
.h1-detalle {
    margin-bottom: .8rem;
}
div.texto-container{
    margin-top:2rem;
    margin-bottom: 2rem;
}
div.texto-container div.texto-informativo{
    
color: grey;
}

.shoping-cart-detalle{
    margin-right: 2rem;
}

.icono-xbox{
    margin-right: 1rem;
}

.icono-playstation{
    margin-right: 1rem;
}

.padding-cont-detalle{
    padding-top: 6rem;
    font-size: 1.8rem;
}

div.especificaciones{
    padding-top: 3rem;
}

.carrito-contenedor-link,
.carrito-contenedor-link:hover{
    text-decoration: none;
    color: #fff;
}

.imagen-detalle{
    height: 17rem;
}

button.detail--action-button {
    position: relative;
    display: block;
    font-size: 1.6rem;
    background-color: #2568AC;
    color: white;
    border-radius: 5px;
    border: none;
    margin: 1.5rem 1rem;
    padding: 1rem 5rem;
    cursor: pointer;
    z-index: 1;
    transition: .2s ease-in;
    transition: .4s;
  }

  button.detail--action-button a {
      color: white;
      text-decoration: none;
  }
  
  button.detail--action-button:before {
    content: "";
    position: absolute;
    background-color: var(--button-bg-color);
    border-radius: 5px;
    left: 0;
    bottom: 0;
    height: 0px;
    width: 100%;
    z-index: -1;
    transition: .2s ease-in;
  
  }
  
  button.detail--action-button:hover:before {
    height: 100%;
  }