.container .message-box {
    font-size: 1.7rem;
    background-image: linear-gradient(to bottom, #223052, #191E29);
    margin: 6rem auto;
    width: 40%;
    align-content: center;
    border-radius: 5px;
}

h1.message-box__content--title {
    font-size: 4.5rem;
    text-align: center;
}

p.message-box__content--body--text {
    text-align: center;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 2rem;
}


a.message-box__content--body__link {
    text-decoration:none;
    color: white;
}