.container-paymentMethod{
    min-height: 65rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2-paymentMethod{
    min-height: 40rem;
    display: flex;
    align-items: center;
}

.paymentMethod__title-cont{
    margin-bottom: 2rem;
}

.paymentMethod__line{
    height: .2rem;
    width: 100%;
    background-color: darkblue;
}