.container-register{
    font-size: 1.4rem;
    background-image: linear-gradient(to bottom, #223052, #191E29);
    margin: 6rem auto;
    width: 30%;
    align-content: center;
    border-radius: 5px;
}

form.register-form {
    align-self: center;
    margin: 0 2rem;
    padding-top: 5rem;
}

form.register-form h1 {
    text-align: center;
    padding-bottom: 3rem;
    font-size: 40px;
}

label.register-form-label {
    display: block;
    font-size: 1.6em;
    margin: 10px 0;
  }

input#register-form-input {
    display: block;
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    padding: 0 10px;
  }

  input.valid{
    background-color: green;
  }

  input.invalid {
    background-color: #C36363;
  }

  .tab {
    display: none;
  }

  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: var(--button-bg-color);
  }

.register-form-button {
    position: relative;
    font-size: 1.6em;
    background-color: #2568AC;
    color: white;
    border-radius: 5px;
    border: none;
    margin: 1.5rem 1rem;
    padding: 1rem 5rem;
    cursor: pointer;
    z-index: 1;
    transition: .2s ease-in;
    transition: .4s;
}

.register-form-button:before {
    content: "";
    position: absolute;
    background-color: var(--button-bg-color);
    border-radius: 5px;
    left: 0;
    bottom: 0;
    height: 0px;
    width: 100%;
    z-index: -1;
    transition: .2s ease-in;

}

.register-form-button:hover:before {
    height: 100%;
}