.container-user {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 80rem;
    margin: 6rem auto;
}

.container-profile {
    display: flex;
    position: relative;
    background-color: #2D4681;
    border-radius: 8px;
    box-shadow: 0 0 10px 3px #010100;
    width: 120rem
}

.container-profile-aside {
    width: 270px;
    background-color: #0b93dd;
    padding: 2rem 1.5rem;
    border-radius: 8px 0 0 8px;
    font-size: 24px;
    box-shadow: 3px 0 5px #001927;
}


.container-profile-aside ul li:hover {
    transition: .3s ease;
    background-color: #fe0034;
    padding: 0 1rem;
}

.container-profile-aside ul li {
    cursor: pointer;
    margin: 5px;
    border-radius: 8px;
    transition: .3s ease;
}

.container-profile-aside-responsive {
    display: none;
    position: absolute;
    background-color: #0b93dd;
    bottom: 0;
    height: 65px;
    width: 500px;
    box-shadow: 3px 0 5px #001927;
    border-radius: 0 0 8px 8px;
    z-index: 10;
}

.container-profile-aside-responsive ul li {
    display: inline-block;
    padding: 1rem;
    margin-left: 4rem;
    font-size: 28px;
    cursor: pointer;
    border-radius: 5px;
}

.container-profile-aside-responsive ul li i {
    padding: 1rem;
    transition: .3s ease;
    border-radius: 6px;
    color: #fe0034;
}

.container-profile-aside-responsive ul li i:hover {
    transition: .3s ease;
    background-color: #fe0034;
    color: white;
}



/* General Section */

.container-profile-general {
    display: flex;
    justify-content: space-between;
    width: 75%;
    height: 650px;
    padding: 2rem 3rem;
}

    .container-profile-general-info {
        width: 100%;
        margin-left: 3rem;
        margin-right: 5rem;
    }

.container-profile-general-info h1 {
    font-size: 36px;
    margin-bottom: 5rem;
}

.container-profile-general-info--list {
    font-size: 20px;
    color: #c1c1c2;
    margin: 3rem 0;
}

.container-profile-general-info--list li{
    margin: 4rem 0;
}

.container-profile-general-info--list li span {
    display: block;
    color: white;
    margin: .8rem 0;
    text-align: right;
    font-size: 1.5rem
}

.container-profile-general-info a {
    margin: 15rem;
}

button.container-profile-button {
    position: relative;
    background-color: white;
    font-size: 1.6em;
    background-color: #2568AC;
    color: white;
    border-radius: var(--button-border-radius);
    border: none;
    padding: 1rem 5rem;
    cursor: pointer;
    z-index: 1;
    transition: .2s ease-in;
    transition: .4s;
}
  
button.container-profile-button:before {
    content: "";
    position: absolute;
    background-color: var(--button-bg-color);
    border-radius: 5px;
    left: 0;
    bottom: 0;
    height: 0px;
    width: 100%;
    z-index: -1;
    transition: .2s ease-in;
  }
  
button.container-profile-button:hover:before {
    height: 100%;
}

.container-profile-general-separation {
    width: 8px;
    color: #fe0034;
    background-color: #fe0034;
    height: 60rem;
    margin: .5rem 5rem;
    border-radius: 5px;
}

.container-profile-general-profile {
    margin-right: 1rem;
    text-align: center;
    width: 22rem
}

.container-profile-general-profile div img {
    width: 20rem;
    height: 20rem;
    border-radius: 10rem;
    cursor: pointer;
}

.container-profile-general-profile h2.profile-name {
    font-size: 28px;
    margin: 2rem 0;
}

.container-profile-general-profile h2.profile-pass {
    font-size: 28px;
    margin-top: 7rem ;
    text-align: left;
}

.container-profile-general-profile h3.profile-username {
    font-size: 20px;
    color: #c1c1c2 ;
}

.container-profile-general-profile h3.profile-pass {
    font-size: 24px;
    color: #c1c1c2;
    text-align: left;
}

.container-profile-general-profile h3.profile-pass i {
    font-size: 20px;
    color: white;
    margin-left: 5rem;
    cursor: pointer;
}

.container-profile-general-profile a.profile-session {
    text-decoration: none;
}


.container-profile-general-profile a.profile-session p {
    margin-top: 10rem;
    text-align: right;
    font-size: 22px;
    color: #e92d37;
    transition: .2s ease;
}

.container-profile-general-profile a.profile-session p:hover {
    color: #c9111a;
}

.general-profile-password-change {
    position: absolute;
    z-index: 10;
    top: 20rem;
    left: 40rem;
    background-color: #1f3058;
    box-shadow: 0 0 5px 3px #19233b;
    width: 350px;
    border-radius: 8px;
    padding: 2rem;
    transition: .3s ease-out;
}

.general-profile-password-change i {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 20px;
    cursor: pointer;
    transition: .3s ease;
}

.general-profile-password-change i:hover {
    color: rgb(173, 169, 169);
}

.profile-password-change-label {
    display: block;
    font-size: 24px;
    width: 300px;
    text-align: left;
    padding-left: 1rem;
}

.profile-password-change-input {
    display: block;
    height: 35px;
    width: 275px;
    border-radius: 8px;
    border: none;
    padding: 0 10px;
    margin-left: 1rem;
    margin-bottom: 4rem;
}

.inactive-password-change {
    display: none;
}

.active-password-change {
    display: block;
}



/* Games section */

.container-profile-games {
    position: relative;
    width: 72%;
    height: 650px;
    padding: 2rem 3rem;
    margin: 0 2.5rem;
}

.container-profile-games h1 {
    font-size: 36px;
    margin-bottom: 3rem;
}

.container-profile-games-input {
    border-radius: 8px;
    border: solid 1.5px white;
    background-color: #314981;
    padding: .5rem;
    width: 400px;
    font-size: 20px;
}

.container-profile-games-list {
    max-height: 450px;
    margin: 1rem 0;
    display: flex;
    overflow-y: auto;
    padding: 1rem .5rem;
}

.container-profile-games-list::-webkit-scrollbar {
    width: 5px;
  }

/* Track */
.container-profile-games-list::-webkit-scrollbar-track {
    background: #1f3058;
  }
  
  /* Handle */
.container-profile-games-list::-webkit-scrollbar-thumb {
    background: #fe0034;
  }

.container-profile-games-single {
    position: relative;
    min-width: 250px;
    height: 370px;
    margin-right: 3rem;
    background-color: #00A6FF;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 3px 5px 3px #1f3058;
}

.games-single-detailInfo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    font-size: 24px;
    color: #484d53;
    padding: 1rem;
    cursor: pointer;
    transition: .3s ease;
}

.games-single-detailInfo:hover {
    transform: scale(1.2);
}

.games-single-edit {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    font-size: 24px;
    color: #19233b;
    padding: 1rem;
    cursor: pointer;
    transition: .3s ease;
}

.games-single-edit:hover {
    transform: scale(1.2);
}

.games-single-delete {
    position: absolute;
    top: 5rem;
    left: 0;
    z-index: 1;
    font-size: 24px;
    color: #c9111a;
    padding: 1rem;
    cursor: pointer;
    transition: .3s ease;
}

.games-delete-form {
    position: absolute;
    z-index: 2;
    top: 5rem;
    left: 15rem;
    background-color: #1f3058;
    box-shadow: 0 0 5px 3px #19233b;
    width: 500px;
    border-radius: 8px;
    padding: 1rem;
    transition: .3s ease-out;
}

.games-delete-form h3 {
    margin: 2rem 0;
    color: #fe0034;;
}

.games-delete-form-button1 {
    background-color: #fe0034;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    color: white;
    margin-right: .5rem;
    margin-top: 2rem;
}

.games-delete-form-button2 {
    background-color: #00A6FF;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    color: white;
    margin-left: .5rem;
}


.inactive-games-delete-form {
    display: none;
}

.active-games-delete-form {
    display: block;
}

.games-single-delete:hover {
    transform: scale(1.2);
}

.container-profile-games-single-img {
    width: 200px;
    height: 200px;
    margin: 1rem auto;
}

.container-profile-games-single-img img {
    width: 150px;
    height: 200px;
    box-shadow: 0 3px 5px 3px #1f3058;
}

.container-profile-games-single-info {
    margin: 1rem;
    text-align: left;
}

.container-profile-games-single-info h2 {
    font-size: 24px;
}

.container-profile-games-single-info-sub {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1rem 2rem;
}

.container-profile-games-single-info-sub h4 {
    font-size: 18px;
    text-align: right;
}

.container-profile-games-single-info-sub h3 {
    text-align: right;
}

.container-profile-games-single-info-sub span {
    font-size: 14px;
}

.container-profile-games-add {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    max-width: 250px;
    height: 370px;
    background-color: #099dec;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 3px 5px 3px #1f3058;
    opacity: 0.8;
    cursor: pointer;
}

.container-profile-games-add a {
    text-decoration: none;
    color: white;
}

.container-profile-games-add a h2 {
    font-size: 24px;
    padding: 5rem 0;
    text-decoration: none;
}

.container-profile-games-add a img {
    width: 24rem;
}

.container-profile-games-add:hover {
    opacity: 1;
}

.games-detailInfo {
    position: absolute;
    z-index: 10;
    top: 25rem;
    left: 16rem;
    background-color: #1f3058;
    box-shadow: 0 0 5px 3px #19233b;
    width: 500px;
    border-radius: 8px;
    padding: 1rem;
    transition: .3s ease-out;
}

.games-detailInfo i {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 20px;
    cursor: pointer;
    transition: .3s ease;
}

.games-detailInfo i:hover {
    color: rgb(173, 169, 169);
}

.inactive-games-detailInfo {
    display: none;
}

.active-games-detailInfo {
    display: block;
}

.container-games-info {
    margin: 1rem 0;
}

.container-games-info h3 a {
    text-decoration: none;
    color: rgb(146, 140, 140);
}


/* Payments section */

.container-profile-pays {
    width: 72%;
    height: 650px;
    padding: 2rem 3rem;
    margin: 0 2.5rem;
}

.container-profile-pays h1 {
    font-size: 36px;
    margin-bottom: 3rem;
}

.pays-first-row {
    background-color: #fe0034;
    padding: 1rem;
    border-radius: 8px;
    margin: 1rem 0;
}

.container-profile-pays-transaction-wrapper {
    max-height: 460px;
    overflow-y: auto;
}

.container-profile-pays-transaction-wrapper::-webkit-scrollbar {
    width: 10px;
  }

/* Track */
.container-profile-pays-transaction-wrapper::-webkit-scrollbar-track {
    background: #1f3058;
  }
  
  /* Handle */
.container-profile-pays-transaction-wrapper::-webkit-scrollbar-thumb {
    background: #fe0034;
  }

.pays-rows {
    min-width: 700px;
    height: 60px;
    background-color: #00A6FF;
    padding: 1rem;
    border-radius: 8px;
    margin: .5rem 0;
}


/* Settings section */

.container-profile-settings {
    width: 72%;
    height: 650px;
    padding: 2rem 3rem;
    margin: 0 2.5rem;
    text-align: center;
}

.container-profile-settings h1 {
    font-size: 36px;
    margin-bottom: 3rem;
    text-align: left;
}

.container-profile-settings h3 {
    color: #e92d37;
    margin: 1rem 0;
}

button.container-profile-button-logout {
    position: relative;
    background-color: white;
    font-size: 1.6em;
    background-color: #c9111a;
    color: white;
    border-radius: var(--button-border-radius);
    border: none;
    padding: 1rem 5rem;
    cursor: pointer;
    z-index: 1;
    transition: .2s ease-in;
    transition: .4s;
}
  
button.container-profile-button-logout:before {
    content: "";
    position: absolute;
    background-color: #fe0034;
    border-radius: 5px;
    left: 0;
    bottom: 0;
    height: 0px;
    width: 100%;
    z-index: -1;
    transition: .2s ease-in;
  }
  
button.container-profile-button-logout:hover:before {
    height: 100%;
}




/* State classes */

.active-flex {
    display: flex;
}

.active-block {
    display: block;
}

.inactiveUserProfile {
    display: none;
}
