<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Buy Form Delivery'}) %>
<body>
    <%- include('partials/header') %>
    
    <div class="container-buyDelivery">
        <div class="container2-buyDelivery">
            <div class="buyDelivery__left-section">
                <form class="buyDelivery__form" action="">
                    <div class="buyDelivery__title-cont">
                        <h1 class="buyDelivery__title">Informacion Personal</h1>
                        <div class="buyDelivery__line"></div>
                    </div>
                    <div class="buyDelivery__inputs-cont">
                        <div class="buyDelivery__inputs-cont-single">
                            <label for="purchaserName">Nombre y apellido <i class="buyDelivery__icon far fa-address-card"></i></label>
                            <p>
                                <input name="purchaserName" type="text" placeholder="ej: Gonzalo Perez Diaz"> 
                            </p>
                        </div>
                        <div class="buyDelivery__inputs-cont-single">
                            <label for="purchaserPostalCode">Codigo postal <i class="buyDelivery__icon fas fa-map-marked-alt"></i></label>
                            <p>
                                <input name="purchaserPostalCode" type="text" placeholder="ej: 1281"> 
                            </p>
                        </div>
    
                        <div class="buyDelivery__group">
                                <div class="buyDelivery__inputs-cont-single">
                                    <label for="purchaserState">Provincia <i class="buyDelivery__icon fa fa-map-marker" aria-hidden="true"></i></label>
                                    <p>
                                        <input name="purchaserState" type="text" placeholder="ej: Buenos Aires"> 
                                    </p>
                                </div>
                                <div class="buyDelivery__inputs-cont-single">
                                    <label for="purchaserLocation">Localidad / Barrio <i class="buyDelivery__icon fas fa-city"></i></label>
                                    <p>
                                        <input name="purchaserLocation" type="text" placeholder="ej: San Isidro"> 
                                    </p>
                                </div>
                                <div class="buyDelivery__inputs-cont-single">
                                    <label for="purchaserStreet">Calle <i class="buyDelivery__icon fas fa-street-view"></i></label>
                                    <p>
                                        <input name="purchaserStreet" type="text" placeholder="ej: Diego Palma 2345"> 
                                    </p>
                                </div>
                                <div class="buyDelivery__inputs-cont-single">
                                    <label for="purchaserAdress">Numero <i class="buyDelivery__icon fas fa-map-pin"></i></label>
                                    <p>
                                        <input name="purchaserAdress" type="text" placeholder="ej: 345 (numero de la direccion de tu residencia)"> 
                                    </p>
                                </div>
                        </div>
    
                        <div class="buyDelivery__inputs-cont-single">
                            <label for="purchaserFlat">Piso/Dpto (opcional) <i class="buyDelivery__icon far fa-building"></i></label>
                            <p>
                                <input name="purchaserFlat" type="text"> 
                            </p>
                        </div>
                        <div class="buyDelivery__inputs-cont-single">
                            <label for="purchaserPhone">Telefono de contacto <i class="buyDelivery__icon fas fa-phone-square"></i></label>
                            <p>
                                <input name="purchaserPhone" type="text" placeholder="ej: +54 1146783490"> 
                            </p>
                        </div>
                    </div>
                </form> 
            </div>
    
            <div class="buyDelivery__right-section">
                <div class="buyDelivery__slider-i">

                </div>
                <div class="buyDeliver__position-relative">
                    <div class="buyDelivery__arrow-left">
                        <i class="fas fa-angle-left"></i>
                    </div>

                    <div class="buyDelivery__carousel-games">
                        <div class="buyDelivery__game">
                            <div class="buyDelivery__img-cont">
                                <img class="buyDelivery__img-product" src="../../img/uploads/productsImage/overwatch.jpg" alt="">
                            </div>
                            <h2>Titulo del juego</h2>
                            <div class="buyDelivery__line-2"></div>
                            <h3 class="buyDelivery__price-modifer">Precio del juego</h3>
                            <h4 class="">Cantidad: 1</h4>
                        </div>
    
                        <div class="buyDelivery__game">
                            <div class="buyDelivery__img-cont">
                                <img class="buyDelivery__img-product" src="../../img/uploads/productsImage/overwatch.jpg" alt="">
                            </div>
                            <h2>Titulo del juego</h2>
                            <div class="buyDelivery__line-2"></div>
                            <h3 class="buyDelivery__price-modifer">Precio del juego</h3>
                            <h4 class="">Cantidad: 1</h4>
                        </div>
    
                        <div class="buyDelivery__game">
                            <div class="buyDelivery__img-cont">
                                <img class="buyDelivery__img-product" src="../../img/uploads/productsImage/overwatch.jpg" alt="">
                            </div>
                            <h2>Titulo del juego</h2>
                            <div class="buyDelivery__line-2"></div>
                            <h3 class="buyDelivery__price-modifer">Precio del juego</h3>
                            <h4 class="">Cantidad: 1</h4>
                        </div>
                    </div>

                    <div class="buyDelivery__arrow-right">
                        <i class="fas fa-angle-right"></i>
                    </div>
                </div>
                <div class="buyDelivery__continue-btn">
                    <button onclick="window.location.href='/user/paymentMethodForm'">Continuar</button>
                </div>
            </div>
        </div>
        
    </div>

    <%- include('partials/footer') %>

    <!-- Scripts -->
    <%- include('partials/scripts') %>
</body>
</html>