<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Buy Form Local'}) %>
<body>
    <%- include('partials/header') %>

    <div class="container-buyLocal">
        <div class="container-buyLocal2">
            <div class="buyLocal__left-section">
                <div class="buyLocal__info-part1">
                    <div class="buyLocal__info">
                        <div class="buyLocal__title-cont">
                            <h1>Informacion del local</h1>
                            <div class="buyLocal__line"></div>
                        </div>
                        <div class="buyLocal__adress">
                            <div class="">
                                <span>Calle <i class="buyLocal__icon fas fa-street-view"></i></span>
                                <p>ad lorem ipsum</p>
                            </div>

                            <div>
                                <span>Codigo postal <i class="buyLocal__icon fas fa-map-marked-alt"></i></span>
                                <p>8453</p>
                            </div>
    
                            <div class="">
                                <span>Numero <i class="buyLocal__icon fas fa-map-pin"></i></span>
                                <p>3214</p>
                            </div>
    
                            <div class="">
                                <span>Numero de piso <i class="buyLocal__icon far fa-building"></i></span>
                                <p>4°C</p>
                            </div>
    
                            <div class="">
                                <span>Localidad / barrio <i class="buyLocal__icon fas fa-city"></i></span>
                                <p>Belgrano</p>
                            </div>
    
                            <div class="">
                                <span>Provincia <i class="buyLocal__icon fa fa-map-marker" aria-hidden="true"></i></span> 
                                <p>C.A.B.A</p>
                            </div>
    
                            <div class="">
                                <span>WhatSaap <i class="buyLocal__icon fa fa-whatsapp" aria-hidden="true"></i></span> 
                                <p>+54 1134248956</p>
                            </div>
    
                            <div class="">
                                <span>Correo electronico <i class="buyLocal__icon fas fa-envelope-square"></i></span> 
                                <p>houseofgames@hotmail.com</p>
                            </div>
    
                            <div class="">
                                <span>Instagram <i class="buyLocal__icon fab fa-instagram"></i></span>
                                <p>@hog</p>
                            </div>
                        </div>
                    </div>
                </div>  

                <div class="buyLocal__info-part2">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.0168878894506!2d-58.38375908417492!3d-34.603734465007136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4aa9f0a6da5edb%3A0x11bead4e234e558b!2sObelisco!5e0!3m2!1sen!2sar!4v1598328415031!5m2!1sen!2sar" width="400" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>

            <div class="buyLocal__right-section">
                <div class="buyDelivery__slider-i">

                </div>
                <div class="buyDeliver__position-relative">
                    <div class="buyDelivery__arrow-left">
                        <i class="fas fa-angle-left"></i>
                    </div>

                    <div class="buyDelivery__carousel-games">
                        <div class="buyDelivery__game">
                            <div class="buyDelivery__img-cont">
                                <img class="buyDelivery__img-product" src="../../img/uploads/productsImage/overwatch.jpg" alt="">
                            </div>
                            <p>Titulo del juego</p>
                            <div class="buyDelivery__line-2"></div>
                            <p class="buyDelivery__price-modifer">Precio del juego</p>
                            <p class="">Cantidad: 1</p>
                        </div>
    
                        <div class="buyDelivery__game">
                            <div class="buyDelivery__img-cont">
                                <img class="buyDelivery__img-product" src="../../img/uploads/productsImage/overwatch.jpg" alt="">
                            </div>
                            <p>Titulo del juego</p>
                            <div class="buyDelivery__line-2"></div>
                            <p class="buyDelivery__price-modifer">Precio del juego</p>
                            <p class="">Cantidad: 1</p>
                        </div>
    
                        <div class="buyDelivery__game">
                            <div class="buyDelivery__img-cont">
                                <img class="buyDelivery__img-product" src="../../img/uploads/productsImage/overwatch.jpg" alt="">
                            </div>
                            <p>Titulo del juego</p>
                            <div class="buyDelivery__line-2"></div>
                            <p class="buyDelivery__price-modifer">Precio del juego</p>
                            <p class="">Cantidad: 1</p>
                        </div>
                    </div>

                    <div class="buyDelivery__arrow-right">
                        <i class="fas fa-angle-right"></i>
                    </div>
                </div>
                <div class="buyLocal__continue-btn">
                    <button onclick="window.location.href='/user/paymentMethodForm'">Continuar</button>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>

    <!-- Scripts -->
    <%- include('partials/scripts') %>
    <script src="/scripts/buyForm.js"></script>
</body>
</html>