<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Buy Form Delivery'}) %>
<body>
    <%- include('partials/header') %>
    
    <div class="container-buyDelivery">
        <div class="buyDelivery__left-section">
            <form class="buyDelivery__form" action="">
                <div>
                    <h1 class="buyDelivery__title">Informacion Personal</h1>
                    <div class="buyDelivery__line"></div>
                </div>
                <div class="buyDelivery__inputs-cont">
                    <div class="">
                        <label for="purchaserName">Nombre y apellido</label>
                        <p>
                            <input name="purchaserName" type="text" placeholder="ej: Gonzalo Perez Diaz"> 
                        </p>
                    </div>
                    <div class="">
                        <label for="purchaserName">Codigo postal</label>
                        <p>
                            <input name="purchaserName" type="text" placeholder="ej: 1281"> 
                        </p>
                    </div>

                    <div class="">
                            <div class="">
                                <label for="purchaserName">Nombre y apellido</label>
                                <p>
                                    <input name="purchaserName" type="text" placeholder="ej: Gonzalo Perez Diaz"> 
                                </p>
                            </div>
                            <div class="">
                                <label for="purchaserName">Codigo postal</label>
                                <p>
                                    <input name="purchaserName" type="text" placeholder="ej: 1281"> 
                                </p>
                            </div>
                            <div class="">
                                <label for="purchaserName">Nombre y apellido</label>
                                <p>
                                    <input name="purchaserName" type="text" placeholder="ej: Gonzalo Perez Diaz"> 
                                </p>
                            </div>
                            <div class="">
                                <label for="purchaserName">Codigo postal</label>
                                <p>
                                    <input name="purchaserName" type="text" placeholder="ej: 1281"> 
                                </p>
                            </div>
                    </div>

                    <div class="">
                        <label for="purchaserName">Nombre y apellido</label>
                        <p>
                            <input name="purchaserName" type="text" placeholder="ej: Gonzalo Perez Diaz"> 
                        </p>
                    </div>
                    <div class="">
                        <label for="purchaserName">Codigo postal</label>
                        <p>
                            <input name="purchaserName" type="text" placeholder="ej: 1281"> 
                        </p>
                    </div>
                </div>
            </form> 
        </div>
    </div>

    <%- include('partials/footer') %>

    <!-- Scripts -->
    <%- include('partials/scripts') %>
</body>
</html>