<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Buy Form Choose'}) %>
<body>
    <%- include('partials/header') %>
    <div class="conteainer-buyFormChoose">
        <div class="box-buyFormChoose__container">
            <a class="box-buyFormChoose__op" href="/user/buyFormDelivery">Enviar a mi domicilio</a>
            <a class="box-buyFormChoose__op box-buyFormChoose__op1--modifer" href="/user/buyFormLocal">Retiro en el local</a>
            <a class="box-buyFormChoose__op" href="/user/buyFormLocal">Compra rapida (juegos no fisicos)</a>
        </div>
    </div>
    <%- include('partials/footer') %>

    <!-- Scripts -->
    <%- include('partials/scripts') %>
</body>
</html>