<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Carrito de Compras'}) %>
<body>

    <div class="carrito-container">
        <div class="carrito-container__aside">
            <ul class="carrito-container__list">
                <li class="carrito-container__item carrito-container__item--logo"><a href="/"><img src="../img/House_of_GamesLOGO.png" alt="logo"></a></li>
                <li class="carrito-container__item"><a href="#">Juegos</a></li>
                <li class="carrito-container__item"><a href="#">Noticias</a></li>
                <li class="carrito-container__item"><a href="#">Acerca De</a></li>
                <li class="carrito-container__item"><a href="#">Descarga la App</a></li>
                <li class="carrito-container__item"><a href="#">Soporte</a></li>
            </ul>
        </div>

        <div class="carrito-container__info">
            <div class="carrito-container__dato">
                Envio
            </div>
            <div class="carrito-container__info-cliente">
                <div>
                    <p class="carrito-container__nombre">Jeremias Luis Rodruigez De Leon</p>
                    <p>Vicente Lopez, Agustin alvarez 2896, Capital, Buenos Aires, Argentina, 2397</p>
                </div>
                <a href="#">cambiar</a>
            </div>
            <div class="carrito-container__dato">
                Pago
            </div>
            <div class="carrito-container__info-cliente carrito-container__info-cliente--x">
                <div>
                    <img src="//main.cdn.wish.com/web/81b0afc94040/dist/cozy/03cf202c4e8213362898b37ef37265da.png">
                    <p>*** Expira el 8/2034</p>
                </div>
                <a href="#">cambiar</a>
            </div>

            <div class="carrito-container__dato carrito-container__dato--margin">
                Articulos del carrito
            </div>
            <div class="carrito-container__articulos">
                <div class="carrito-container__juego">
                    <div class="carrito-container__img-cont">
                        <img src="../img/ResidentEvil.jpeg" alt="">
                    </div>

                    <div>
                    <p>Nombre del juego</p>
                    <p>Plataforma</p>
                    <p>Estado: ???</p>
                    <p>Precio: $$$</p>
                    </div>

                    <div class="carrito-container__select-cont">
                        <select class="carrito-container__select" id="inputGroupSelect01">
                            <option selected hidden>Cantidad...</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                        <button class="carrito-container__btn">Quitar</button>
                    </div>
                </div>

                <div class="carrito-container__juego">
                    <div class="carrito-container__img-cont">
                        <img src="../img/tomRaider.jpg" alt="">
                    </div>
                    <div>

                    <p>Nombre del juego</p>
                    <p>Plataforma</p>
                    <p>Estado: ???</p>
                    <p>Precio: $$$</p>
                    </div>
                    
                    <div class="carrito-container__select-cont">
                    <select class="carrito-container__select" id="inputGroupSelect01">
                            <option selected hidden>Cantidad...</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                    </select>
                    <button class="carrito-container__btn">Quitar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="carrito-container__resumen">
            <div class="carrito-container__resumen-dato">
                <span>Resumen del pedido</span>
            </div>
            <p>total de los productos: <span>$200</span></p>
            <p>Envio: <span>$20</span></p>
            <p>Total del pedido: <span>$220</span></p>
            <p>PesosArg(aprox): <span>$14100</span></p>
            <button class="carrito-container__btn">Comprar</button>
        </div>
    </div>
    <!-- Footer -->
    <%- include('partials/footer') %>
 
    <!-- Scripts -->
    <%- include('partials/scripts') %>
</body>
</html>