<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {title: 'detalleProducto'}) %>


<body>
    <%- include('partials/header') %>
    <div class="container mt-3 padding-cont-detalle">
        <div class="row">
            <iframe class="col-8 detalle-juego" height="470px" src="https://www.youtube.com/embed/_g6XCLNQl_w"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <section class="col-4 detalle-juego">
                <div>
                    <img class="imagen-detalle col-12 mb-5"
                        src="https://steamcdn-a.akamaihd.net/steam/apps/706220/header.jpg?t=1592945102" alt=""></div>
                <h3 class="col-12">Black Desert Online es un MMORPG de mundo abierto masivo. Cuenta con impresionantes
                    gráficos última generación. Experimenta un combate dinámico y lleno de acción, cazando monstruos,
                    eliminando jefes y derrotando a tus enemigos para llegar a la cima de este mundo.</h3>
                    <div class="col-12">
                        <h1 class="h1-detalle-precio"><i class="fas fa-star mb-2 rating"></i> 4.9</h1>
                    </div>
                    <p class="col mt-3 precio">0$</p>
                    <!--
                    <div class="botones-administrador">
                        <a href="/products/edit/" class="action-button edit">EDITAR PRODUCTO</a>
                        <form action="/products/delete/?_method=delete" method="POST" style="display: inline-flex">
                        <button type="submit" class="action-button delete">ELIMINAR</button>
                        </form>
                    </div>-->
            </section>
        <div class=" contenedor-principal col-8 mb-5 detalle-juego">
            <button role="button" id="flecha-derecha" class="flecha-izquierda"><i
                    class="fas fa-angle-right"></i></button>
            <div class="contenedor-carrusel detalle-juego">
                <div class="imagen-gameplay"><img
                        src="https://www.somosxbox.com/wp-content/uploads/2017/05/Black-Desert-Online-2.jpg"
                        alt="imagen-gameplay"></div>
                <div class="imagen-gameplay"><img
                        src="https://www.somosxbox.com/wp-content/uploads/2017/05/Black-Desert-Online-2.jpg"
                        alt="imagen-gameplay"></div>
                <div class="imagen-gameplay"><img
                        src="https://www.somosxbox.com/wp-content/uploads/2017/05/Black-Desert-Online-2.jpg"
                        alt="imagen-gameplay"></div>
                <div class="imagen-gameplay"><img
                        src="https://www.somosxbox.com/wp-content/uploads/2017/05/Black-Desert-Online-2.jpg"
                        alt="imagen-gameplay"></div>
                <div class="imagen-gameplay"><img
                        src="https://www.somosxbox.com/wp-content/uploads/2017/05/Black-Desert-Online-2.jpg"
                        alt="imagen-gameplay"></div>
                <div class="imagen-gameplay"><img
                        src="https://www.somosxbox.com/wp-content/uploads/2017/05/Black-Desert-Online-2.jpg"
                        alt="imagen-gameplay"></div>
                <div class="imagen-gameplay"><img
                        src="https://www.somosxbox.com/wp-content/uploads/2017/05/Black-Desert-Online-2.jpg"
                        alt="imagen-gameplay"></div>
                <div class="imagen-gameplay"><img
                        src="https://www.somosxbox.com/wp-content/uploads/2017/05/Black-Desert-Online-2.jpg"
                        alt="imagen-gameplay"></div>
                <div class="imagen-gameplay"><img
                        src="https://www.somosxbox.com/wp-content/uploads/2017/05/Black-Desert-Online-2.jpg"
                        alt="imagen-gameplay"></div>
                <div class="imagen-gameplay"><img
                        src="https://www.somosxbox.com/wp-content/uploads/2017/05/Black-Desert-Online-2.jpg"
                        alt="imagen-gameplay"></div>
               
                
            </div>
            <button role="button" id="flecha-izquierda" class="flecha-derecha"> <i
                    class="fas fa-angle-left"></i></button>
            </div>
            <div class="compra col-4">
                <div>
                    <i class="fab fa-xbox icono-xbox"></i>
                    <i class="fab fa-playstation icono-playstation"></i>
                    <i class="fas fa-desktop icono-desktop"></i>
                </div>
                <div>
                    <a href="/user/cart" class="carrito-contenedor-link"><i
                            class="fas fa-shopping-cart shoping-cart-detalle" aria-hidden="true"></i></a>
                    <a href="#" class="btn btn-primary btn-lg">Comprar</a>
                </div>
        </div>
        </div>
        <div class="row especificaciones ">
            <span class="span-detail col-3">Sobre el juego</span>
            <section class="row col-9">
                <div class="col-4">
                    <span class="span-detail informacion">Desarrolladora:</span>
                    <p>Pearl Abyss</p>
                </div>
                <div class="col-4">
                    <span class="span-detail informacion">Editora:</span>
                    <p>RedFox Games</p>
                </div>
                <div class="col-4">
                    <span class="span-detail informacion">Fecha de lanzamiento:</span>
                    <p>23 Jul.2016</p>
                </div>
                <div class="col-4">
                    <span class="span-detail informacion">Etiquetas:</span>
                    <p>MMORPG</p>
                </div>
                <div class="col-4">
                    <span class="span-detail informacion">Clasificacion:</span>
                    <p>MATURE 17+</p>
                </div>
                <div class="texto-container">
                    <h1 class="h1-detalle col-12">Black Desert Online</h1>
                    <div class="texto-informativo col-12 ">
                        Black Desert Online se desarrolla en un entorno de alta fantasía y gira en torno al conflicto
                        entre dos naciones rivales, la República de Calpheon y el Reino de Valencia13​. Calpheon es muy
                        materialista, mientras que Valencia es muy espiritual.
                    </div>
                    <div class="texto-informativo col-12 ">
                        Hace mucho tiempo, las cuatro áreas principales, Calpheon, Serendia, Balenos y Mediah,
                        han estado en paz. Todo esto cambió cuando la Muerte Negra comenzó a propagarse a través de
                        comerciantes de Valencia, un área al este de Mediah que controla el comercio. Muchos en todo el
                        mundo mueren debido a la plaga. Algunos de los que no, fueron expulsados debido a la paranoia.
                        inalmente, las tres áreas principales formaron una alianza y comenzaron una guerra que duró 30
                        años, y Mediah se benefició más al cosechar piedras negras y comerciar con todos. Después de la
                        guerra, la alianza comenzó a comerciar lentamente con Valencia otra vez. Las tensiones volvieron
                        a aumentar cuando los demás descubrieron la importancia de las piedras negras. Desesperados por
                        ganar riqueza, los otros comenzaron a buscar piedras negras. Calpheon no tiene un área que
                        albergue las preciadas piedras negras y, debido a esto, comenzaron a robarlas a los demás.
                        Esto plantea conflictos con Valencia debido al vasto Desierto Negro de Valencia que contiene
                        las piedras negras.
                    </div>
            </section>

            <div>
            </div>
            <span class="span-detail col-3">Otros juegos</span>
        </div>

        <div class="otros-juegos">

            <a href="/product">
                <article>
                    <div>
                        <img src="https://cdn1.epicgames.com/epic/offer/EGS_AmongTrees_FJRDInteractive_S2_Logo1-860x1148-826a72c956a2cbe8b7f042aa05a18221.png?h=854&resize=1&w=640"
                            alt="">
                    </div>
                    <p>Lorem ipsum dolor sit amet.</p>
                </article>
            </a>

            <a href="/product">
                <article>
                    <div>
                        <img src="https://cdn1.epicgames.com/1e58a1653e6846d3a05cccb2ae5b7385/offer/EGS_MissileCommandRecharged_NickervisionStudios_S6-1200x1600-13dce142b015db18d28b54c6d1515f6c.jpg?h=854&resize=1&w=640"
                            alt="">
                    </div>
                    <p>Lorem ipsum dolor sit amet.</p>
                </article>
            </a>

            <a href="/product">
                <article>
                    <div>
                        <img src="../img/dota1.jpg" alt="">
                    </div>
                    <p>Lorem ipsum dolor sit amet.</p>
                </article>
            </a>
            <a href="/product">
                <article>
                    <div>
                        <img src="../img/Minecraft.webp" alt="">
                    </div>
                    <p>Lorem ipsum dolor sit amet.</p>
                </article>
            </a>
            <a href="/product">
                <article>
                    <div>
                        <img src="../img/doom.jpg" alt="">
                    </div>
                    <p>Lorem ipsum dolor sit amet.</p>
                </article>
            </a>
            <a href="/product">
                <article>
                    <div>
                        <img src="../img/Destiny.png" alt="">
                    </div>
                    <p>Lorem ipsum dolor sit amet.</p>
                </article>
            </a>
        </div>



    </div>

    <!-- Footer -->
    <%- include('partials/footer') %>

    <!-- Scripts -->
    <%- include('partials/scripts') %>
    <script src="../javascript/detalleProducto.js"></script>
</body>

</html>