<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Carrito de Compras'}) %>
<body>
    <%- include('partials/header') %>
    <div onclick="containerHide()" class="container">
        <div class="message-box">
            <div>
                <h1 class="message-box__content--title">¡Gracias por comprar!</h1>
                    <div>
                        <p class= "message-box__content--body--text">Ante cualquier inconveniente, duda o consulta, por favor comunicarse al siguiente mail: <a class="message-box__content--body__link" href="">adlorem@ipsum.com</a></p>
                        <br>
                    </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <%- include('partials/footer') %>
 
    <!-- Scripts -->
    <%- include('partials/scripts') %>
</body>
</html>