<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Carrito de Compras'}) %>
<body>
    <%- include('partials/header') %>
    <h1>Gracias por comprar</h1>
    <!-- Footer -->
    <%- include('partials/footer') %>
 
    <!-- Scripts -->
    <%- include('partials/scripts') %>
</body>
</html>