<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head') %>

<body>
    <div class="container-fluid pb-0 pl-5 pr-5 pt-3">
        <!-- Header (Navs) -->
        <header class="header">
            <nav class="header-nav">
                <div class="header-nav__left">
                    <div class="header-nav__logo">
                        <a href="#"><img src="img\House_of_GamesLOGO.png" alt="Logo-image"></a>
                    </div>
                    <!-- Nav Items Left -->
                    <ul class="header-nav__list">
                        <li class="header-nav__item">
                            <button class="header-nav__dropdown-button">Juegos</button>
                        </li>
                        <li class="header-nav__item"><a href="#">Noticias</a></li>
                        <li class="header-nav__item"><a href="#">Comunidad</a></li>
                        <li class="header-nav__item"><a href="#">Acerca de</a></li>
                        <li class="header-nav__item"><a href="#">Descarga la app</a></li>
                    </ul>
                </div>
                <div class="header-nav__right">
                    <!-- Nav Items Right -->
                        <form action="" class="header-nav__form">
                            <input class="search-input" type="text" name="buscar" id="" placeholder="Buscar productos, marcas y más">
                            <button class="" type="submit"><i class="fa fa-search"></i></button>
                        </form>
                        <a href="#"><i class="fas fa-shopping-cart"></i></a>
                        <a href="#" class="user"><i class="fas fa-user-plus"></i></a>
                </div>
            </nav>
        </header>

        <!-- Products -->

        <section class="product-section">
            <!-- Products View Left -->     
            <article class="product-section__portrays">
                <div class="row">
                    <div class="col-6">
                        <p>Imagen 1</p>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12">
                                <p>Imagen 2</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p>Imagen 3</p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <!-- Products View Right -->
            <article class="product-section__portrays">
                <div class="row">
                    <div class="col-4">
                        <p>Imagen 1</p>
                    </div>
                    <div class="col-4">
                        <p>Imagen 2</p>
                    </div>
                    <div class="col-4">
                        <p>Imagen 3</p>
                    </div>
                </div>
            </article>
        </section>

        <!-- All Products View -->
        <div class="row p-5">
            <aside class="col-3">
                <ul class="aside--list">                   
                    <li class="aside--list--items"><a href="#">Géneros</a></li>
                    <li class="aside--list--items"><a href="">Plataformas</a></li>
                    <li class="aside--list--items"><a href="">Ofertas</a></li>
                    <li class="aside--list--items"><a href="#">Comunidad</a></li>
                    <li class="aside--list--items"><a href="#">Próximamente</a></li>
                    <li class="aside--list--items"><a href="#">Recomendaciones</a></li>
                    <li class="aside--list--items"><a href="#">(Filtrados)</a></li>
                </ul>
            </aside>
        
            <section class="all-products col-9">
                <h2 class="all-products--title">Juegos</h2>
                <div class="row">
                    <article class="all-products--game col-3">
                        <a href=""><img src="img\House_of_GamesLOGO.png" alt=""></a>
                        <p>hola</p>
                    </article>
                    <article class="all-products--game col-3">
                        <a href=""><img src="img\House_of_GamesLOGO.png" alt=""></a>
                        <p>hola</p>
                    </article>
                    <article class="all-products--game col-3">
                        <a href=""><img src="img\House_of_GamesLOGO.png" alt=""></a>
                        <p>hola</p>
                    </article>
                    <article class="all-products--game col-3">
                        <a href=""><img src="img\House_of_GamesLOGO.png" alt=""></a>
                        <p>hola</p>
                    </article>
                    <article class="all-products--game col-3">
                        <a href=""><img src="img\House_of_GamesLOGO.png" alt=""></a>
                        <p>hola</p>
                    </article>
                    <article class="all-products--game col-3">
                        <a href=""><img src="img\House_of_GamesLOGO.png" alt=""></a>
                        <p>hola</p>
                    </article>
                    <article class="all-products--game col-3">
                        <a href=""><img src="img\House_of_GamesLOGO.png" alt=""></a>
                        <p>hola</p>
                    </article>
                    <article class="all-products--game col-3">
                        <a href=""><img src="img\House_of_GamesLOGO.png" alt=""></a>
                        <p>hola</p>
                    </article>
                </div>
         </section>
        </div>
        

    <!-- Footer -->
    <%- include('partials/footer') %>
 
    <!-- Scripts -->
    <%- include('partials/scripts') %>
</body>
</html>
