<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Buy Form Local'}) %>
<body>
    <%- include('partials/header') %>

        <div class="container-paymentMethod">
            <div class="container2-paymentMethod">
                <div class="paymentMethod__cont">
                    <div class="paymentMethod__title-cont">
                        <h1>Metodo de pago</h1>
                        <div class="paymentMethod__line"></div>
                    </div>
                    <form action="">
                       <div class="">
                            <div>
                                <label for="">Numero de Tarjeta</label>
                                <p>
                                    <input type="text">
                                </p>
                            </div>

                            <div>
                                <label for="">Fecha de Expiracion</label>
                                <p>
                                    <input type="text">
                                </p>
                            </div>

                            <div>
                                <label for="">CVC</label>
                                <p>
                                    <input type="text">
                                </p>
                            </div>
                       </div>
                       <button type="submit">Comprar</button>
                    </form>
                </div>
            </div>
        </div>

    <%- include('partials/footer') %>

    <!-- Scripts -->
    <%- include('partials/scripts') %>
</body>
</html>