<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Buy Form Local'}) %>
<body>
    <%- include('partials/header') %>

        <div class="container-paymentMethod">
            <div class="container2-paymentMethod">
                <div class="paymentMethod__cont">
                    <div class="paymentMethod__title-cont">
                        <h1></h1>
                        <div></div>
                    </div>
                    <form action="">
                        <div>
                            <label for=""></label>
                            <p>
                                <input type="text">
                            </p>
                        </div>

                        <div class="">
                            <div>
                                <label for=""></label>
                                <p>
                                    <input type="text">
                                </p>
                            </div>

                            <div>
                                <label for=""></label>
                                <p>
                                    <input type="text">
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    <%- include('partials/footer') %>

    <!-- Scripts -->
    <%- include('partials/scripts') %>
</body>
</html>