<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Buy Form Local'}) %>
<body>
    <%- include('partials/header') %>

        <div class="container-paymentMethod">
            <div class="">
                
            </div>
        </div>

    <%- include('partials/footer') %>

    <!-- Scripts -->
    <%- include('partials/scripts') %>
</body>
</html>