<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'productos'}) %>

<body>
    <%- include('partials/header') %>




    <div class="juegos-container juegos-container2">
      <aside class="juegos-container__aside juegos-container__aside2">
          <ul class="juegos-container__list">                   
              <li class="juegos-container__item"><a href="#">Géneros</a></li>
              <li class="juegos-container__item"><a href="#">Plataformas</a></li>
              <li class="juegos-container__item"><a href="#">Ofertas</a></li>
              <li class="juegos-container__item"><a href="#">Comunidad</a></li>
              <li class="juegos-container__item"><a href="#">Próximamente</a></li>
              <li class="juegos-container__item"><a href="#">Recomendaciones</a></li>
              <li class="juegos-container__item"><a href="#">(Filtrados)</a></li>
          </ul>
      </aside>
      <section class="juegos-container__all-products">
          <h2 class="juegos-container__title">Juegos</h2>
          <div class="juegos-container__products-container ">
              <a href="/product">
                  <article class="juegos-container__product juego_elemento">
                      <div class="juegos-container__img-cont">
                          <img src="img\overwatch.jpg" alt="">
                      </div>
                      <p>Counter Strike: Global Offensive<br>$0.00</p>
                  </article>
              </a>

              <a href="/product">
                  <article class="juegos-container__product juego_elemento">
                      <div class="juegos-container__img-cont">
                          <img src="img\godOfWar.jpeg" alt="">
                      </div>
                      <p>God of War: Deluxe Edition<br>$0.00</p>
                  </article>
              </a>

              <a href="/product">
                  <article class="juegos-container__product juego_elemento">
                      <div class="juegos-container__img-cont">
                          <img src="img\uncharted.jpg" alt="">
                      </div>
                      <p>Nead for Speed Heat<br>$0.00</p>
                  </article>
              </a>

              <a href="/product">
                  <article class="juegos-container__product juego_elemento">
                      <div class="juegos-container__img-cont">
                          <img src="img\titanfall.jpg" alt="">
                      </div>
                      <p>GTA V: Premium Online Edition<br>$0.00</p>
                  </article>
              </a>

              <a href="/product">     
                  <article class="juegos-container__product juego_elemento">
                      <div class="juegos-container__img-cont">
                          <img src="img\bloodborne.jpeg"" alt="">
                      </div>
                      <p>Star Wars Battlefront 2<br>$0.00</p>
                  </article>
              </a>
              <a href="/product">
                  <article class="juegos-container__product juego_elemento">
                      <div class="juegos-container__img-cont">
                          <img src="img\wow.jpg" alt="">
                      </div>
                      <p>The Elder Scrolls V: Skyrim - Dawnguard<br>$0.00</p>
                  </article>
              </a>
              <a href="/product">
                  <article class="juegos-container__product juego_elemento">
                      <div class="juegos-container__img-cont">
                          <img src="img\battlefield.jpg" alt="">
                      </div>
                      <p>Fifa 20<br>$0.00</p>
                  </article>
              </a>
              <a href="/product">
                  <article class="juegos-container__product">
                      <div class="juegos-container__img-cont">
                          <img src="img\call-of-duty-advanced-warfare.jpg" alt="">
                      </div>
                      <p>Counter Strike: Global Offensive<br>$0.00</p>
                  </article>
              </a>
              <a href="/product">
                  <article class="juegos-container__product juego_elemento">
                      <div class="juegos-container__img-cont">
                          <img src="img\farcry.jpg" alt="">
                      </div>
                      <p>God of War: Deluxe Edition<br>$0.00</p>
                  </article>
              </a>

              <a href="/product">
                  <article class="juegos-container__product juego_elemento">
                      <div class="juegos-container__img-cont">
                          <img src="img\halo4.jpg" alt="">
                      </div>
                      <p>Nead for Speed Heat<br>$0.00</p>
                  </article>
              </a>

              <a href="/product">
                  <article class="juegos-container__product juego_elemento">
                      <div class="juegos-container__img-cont">
                          <img src="img\ResidentEvil.jpeg" alt="">
                      </div>
                      <p>The Elder Scrolls V: Skyrim - Dawnguard<br>$0.00</p>
                  </article>
              </a>

              <a href="/product">
                  <article class="juegos-container__product juego_elemento">
                      <div class="juegos-container__img-cont">
                          <img src="img\tomRaider.jpg" alt="">
                      </div>
                      <p>Fifa 20<br>$0.00</p>
                  </article>
              </a>
              <a href="/product">
                <article class="juegos-container__product juego_elemento">
                    <div class="juegos-container__img-cont">
                        <img src="img\overwatch.jpg" alt="">
                    </div>
                    <p>Counter Strike: Global Offensive<br>$0.00</p>
                </article>
            </a>

            <a href="/product">
                <article class="juegos-container__product juego_elemento">
                    <div class="juegos-container__img-cont">
                        <img src="img\godOfWar.jpeg" alt="">
                    </div>
                    <p>God of War: Deluxe Edition<br>$0.00</p>
                </article>
            </a>

            <a href="/product">
                <article class="juegos-container__product juego_elemento">
                    <div class="juegos-container__img-cont">
                        <img src="img\uncharted.jpg" alt="">
                    </div>
                    <p>Nead for Speed Heat<br>$0.00</p>
                </article>
            </a>

            <a href="/product">
                <article class="juegos-container__product juego_elemento">
                    <div class="juegos-container__img-cont">
                        <img src="img\titanfall.jpg" alt="">
                    </div>
                    <p>GTA V: Premium Online Edition<br>$0.00</p>
                </article>
            </a>

            <a href="/product">     
                <article class="juegos-container__product juego_elemento">
                    <div class="juegos-container__img-cont">
                        <img src="img\bloodborne.jpeg"" alt="">
                    </div>
                    <p>Star Wars Battlefront 2<br>$0.00</p>
                </article>
            </a>
            <a href="/product">
                <article class="juegos-container__product juego_elemento">
                    <div class="juegos-container__img-cont">
                        <img src="img\wow.jpg" alt="">
                    </div>
                    <p>The Elder Scrolls V: Skyrim - Dawnguard<br>$0.00</p>
                </article>
            </a>
            <a href="/product">
                <article class="juegos-container__product juego_elemento">
                    <div class="juegos-container__img-cont">
                        <img src="img\battlefield.jpg" alt="">
                    </div>
                    <p>Fifa 20<br>$0.00</p>
                </article>
            </a>
            <a href="/product">
                <article class="juegos-container__product juego_elemento">
                    <div class="juegos-container__img-cont">
                        <img src="img\call-of-duty-advanced-warfare.jpg" alt="">
                    </div>
                    <p>Counter Strike: Global Offensive<br>$0.00</p>
                </article>
            </a>
          </div>
      </section>
  </div>
     <!-- Footer -->
     <%- include('partials/footer') %>
     <!-- Scripts -->
</body>
</html>