<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Formulario de Registro'}) %>
<body>
    
    <!-- Header -->

    <%- include('partials/header') %>

    <div class="container pb-5 container-register">
        <form id="regForm" class="register-form" action="/action_page.php">
            <h1>Register:</h1>
            <!-- One "tab" for each step in the form: -->
            <div class="tab">
                <label class="register-form-label" for="name">Nombre:</label>
                <input id="register-form-input" type="text" oninput="this.className = ''" name="name">
                <label class="register-form-label" for="surname">Apellido:</label>
                <input id="register-form-input" type="text" oninput="this.className = ''" name="surname">
                <label class="register-form-label" for="username">Nombre de usuario:</label>
                <input id="register-form-input" type="text" oninput="this.className = ''" name="username">
            </div>
            <div class="tab">
                <label class="register-form-label" for="email">Email:</label>
                <input id="register-form-input" type="email" oninput="this.className = ''" name="email">
                <label class="register-form-label" for="surname">Contraseña:</label>
                <input id="register-form-input" type="password" oninput="this.className = ''" name="surname">
                <label class="register-form-label" for="username">Repetir contraseña:</label>
                <input id="register-form-input" type="password" oninput="this.className = ''" name="repassword">
            </div>
            <div style="overflow:auto;">
              <div style="float:right;">
                <button class="register-form-button" id="prevBtn" type="button" onclick="nextPrev(-1)">Previous</button>
                <button class="register-form-button" id="nextBtn" type="button" onclick="nextPrev(1)">Next</button>
              </div>
            </div>
            <!-- Circles which indicates the steps of the form: -->
            <div style="text-align:center;margin-top:40px;">
              <span class="step"></span>
              <span class="step"></span>
            </div>
          </form>
    </div>

    <!-- Footer -->
    <%- include('partials/footer') %>
    <!-- Scripts -->
    <%- include('partials/scripts') %>
    <script src="javascript/registerForm.js"></script>   
</body>
</html>