 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
 </head>
 <body>
     <h1>PRUEBA</h1>
     <form action="" method="POST">
        <input type="checkbox" name="checkbox" value="hola">
        <input type="checkbox" name="checkbox">
        <input type="checkbox" name="checkbox">

        <button type="submit">submit</button>
     </form>
 </body>
 </html>