<footer>
    <div class="footer pt-5">
        <div class="footer-list__left">
            <ul>
                <li class="footer-list__items"><a href="#">Noticias</a></li>
                <li class="footer-list__items"><a href="#">Comunidad</a></li>
                <li class="footer-list__items"><a href="#">Acerca de</a></li>
                <li class="footer-list__items"><a href="#">Descarga la app</a></li>
            </ul>
        </div>
        <div class="footer-list__right">
            <ul class="footer-list__items">
                <li class="footer-list__items"><a href="#">Faqs</a></li>
                <li class="footer-list__items"><a href="#">Soporte</a></li>
                <li class="footer-list__items"><a href="#">Privacidad</a></li>
                <li class="footer-list__items"><a href="#">Comunidad</a></li>
            </ul>
        </div>
        <div class="footer-info__right">
            <h4 class="info">Compartinos tu email para recibir noticias</h4>
            <form action="">
                <input class="input-search-footer" type="email" name="email" placeholder="Ingresá tu email">
                <button class="" type="submit">Enviar</button>
            </form>
            <ul class="social-icons">
                <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            </ul>
        </div>
    </div>
</footer>