<header class="header">
    <nav class="header-nav">
        <div class="header-nav__left">
            <div class="header-nav__logo">
                <a href="/"><img src="../img/House_of_GamesLOGO.png" alt="Logo-image"></a>
            </div>
            <!-- Nav Items Left -->
            <ul class="header-nav__list">
                <li class="header-nav__item">
                    <button onclick="show_hide()" class="header-nav__dropdown-button">JUEGOS<i class="fas fa-caret-down header-nav__dropdown-icon"></i></button>
                    <ul id="drop-cont" class="header-nav__sub-list show">
                        <li class="header-nav__sub-item"><a href="">TODOS LOS JUEGOS</a></li>
                        <li class="header-nav__sub-item"><a href="">POPULARES</a></li>
                        <li class="header-nav__sub-item"><a href="">OFERTAS</a></li>
                        <li class="header-nav__sub-item"><a href="">FREE TO PLAY</a></li>
                    </ul>
                </li>
                <li class="header-nav__item"><a href="#">Noticias</a></li>
                <li class="header-nav__item"><a href="#">Comunidad</a></li>
                <li class="header-nav__item"><a href="#">Acerca de</a></li>
                <li class="header-nav__item"><a href="#">Descarga la app</a></li>
            </ul>
        </div>
        <div class="header-nav__right">
            <!-- Nav Items Right -->
                <form action="" class="header-nav__form">
                    <input class="search-input" type="text" name="buscar" id="" placeholder="Buscar productos, marcas y más">
                    <button class="search-button" type="submit"><i class="fa fa-search"></i></button>
                </form>
                <a href="/user/cart"><i class="fas fa-shopping-cart"></i></a>
                <a href="/user" class="user"><i class="fas fa-user-plus"></i></a>
                <ul>
                    <li class="header-nav__language-item">
                        <button onclick="show_hide2()" class="header-nav__language-dropdown">IDIOMA<i class="fas fa-caret-down header-nav__language-dropdown-icon"></i></button>
                        <ul id="drop-cont2" class="header-nav__language-sub-list">
                            <li class="header-nav__language-sub-item"><a href="">INGLES</a></li>
                            <li class="header-nav__language-sub-item"><a href="">PORTUGUES</a></li>
                            <li class="header-nav__language-sub-item"><a href="">ESPAÑOL</a></li>
                            <li class="header-nav__language-sub-item"><a href="">FRANCES</a></li>
                        </ul>
                    </li>
                </ul>
        </div>
    </nav>
</header>