<header class="header">
    <nav class="header-nav">
        <div class="header-nav__left">
            <div class="header-nav__logo">
                <a href="#"><img src="img\House_of_GamesLOGO.png" alt="Logo-image"></a>
            </div>
            <!-- Nav Items Left -->
            <ul class="header-nav__list">
                <li class="header-nav__item">
                    <button class="header-nav__dropdown-button">Juegos<i class="fas fa-caret-down header-nav__dropdown-icon"></i></button>
                    <ul class="header-nav__sub-list">
                        <li class="header-nav__sub-item"><a href="">genero</a></li>
                        <li class="header-nav__sub-item"><a href="">plataforma</a></li>
                        <li class="header-nav__sub-item"><a href="">ofertas</a></li>
                        <li class="header-nav__sub-item"><a href="">Mas jugados</a></li>
                    </ul>
                </li>
                <li class="header-nav__item"><a href="#">Noticias</a></li>
                <li class="header-nav__item"><a href="#">Comunidad</a></li>
                <li class="header-nav__item"><a href="#">Acerca de</a></li>
                <li class="header-nav__item"><a href="#">Descarga la app</a></li>
            </ul>
        </div>
        <div class="header-nav__right">
            <!-- Nav Items Right -->
                <form action="" class="header-nav__form">
                    <input class="search-input" type="text" name="buscar" id="" placeholder="Buscar productos, marcas y más">
                    <button class="search-button" type="submit"><i class="fa fa-search"></i></button>
                </form>
                <a href="#"><i class="fas fa-shopping-cart"></i></a>
                <a href="#" class="user"><i class="fas fa-user-plus"></i></a>
                <ul>
                    <li class="header-nav__language-item">
                        <button class="header-nav__language-dropdown">Idioma<i class="fas fa-caret-down header-nav__language-dropdown-icon"></i></button>
                        <ul class="header-nav__language-sub-list">
                            <li class="header-nav__language-sub-item"><a href="">Ingles</a></li>
                            <li class="header-nav__language-sub-item"><a href="">Portugues</a></li>
                            <li class="header-nav__language-sub-item"><a href="">Ruso</a></li>
                            <li class="header-nav__language-sub-item"><a href="">Frances</a></li>
                        </ul>
                    </li>
                </ul>
        </div>
    </nav>
</header>