footer div.footer {
    display: flex;
    font-size: 16px;
    padding: 0 12rem;
    background-image: var(--secodary-bg-color);
    justify-content: space-evenly;
    padding: 15px 15px 0 0;
}

footer div.footer div.footer-list__left {
    display: inline-block;
}

footer div.footer div ul {
    list-style-type: none;
    
}

footer div.footer div ul li.footer-list__items {
    display: flex;
    padding: .5rem 1rem;
    overflow: hidden;
    align-items: center;
    position: relative;
    border: none;
    background-color: transparent;
    border-radius: none;
    font-size: 1.5rem;
    color: white;
    z-index: 1;
    transition: .2s ease-in;
}

footer div.footer div ul li.footer-list__items:before {
    content: "";
    position: absolute;
    background-color: var(--button-bg-color);
    border-radius: 5px;
    bottom: 0;
    height: 10%;
    width: 0px;
    z-index: -1;
    transition: .2s ease-in;
}

footer div.footer div ul li.footer-list__items:hover:before {
    width: 100%;
}

footer div.footer div ul li a{
    text-decoration: none;
    color: white;
}

footer div.footer div.footer-list__left ul li div.header-nav__logo a img {
    width: 15rem;
}

footer div.footer div.footer-info__right form button {
    border: none;
    border-radius: var(--button-border-radius);
    width: 100px;
    background-color: var(--button-bg-color);
    color: white;
}

footer div.footer div.footer-info__right ul.social-icons li a {
    margin-right: 1rem;
    font-size: 20px;
    transition: .2s ease-in;
}

footer div.footer div.footer-info__right ul.social-icons li a:hover {
    color: var(--button-bg-color);
}

footer div.footer div.footer-info__right ul li {
    display: inline-block;
    padding: 0 5px;
}

h4.info {
    color: white;
}

.input-search-footer{
    height: 3rem;
    padding-left: 1rem;
    border-radius: 6px;
}





