.header{
    width: 100%;
    padding: 2.5rem 12rem;
    background-image: var(--secodary-bg-color);
    margin-top: 0;
}

.header-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-nav__left{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
}

.header-nav__item {
    margin-left: 2rem;
    position: relative;
    z-index: 1;
    transition: .2s ease-in;
}

.header-nav__item:before {
    content: "";
    position: absolute;
    background-color: var(--button-bg-color);
    border-radius: 5px;
    bottom: 0;
    height: 10%;
    width: 0px;
    z-index: -1;
    transition: .2s ease-in;
}

.header-nav__item:hover:before {
    width: 100%;
}

.header .header-nav .header-nav__left div.header-nav__logo{
    margin-right: 4rem;
}

.header .header-nav .header-nav__left div.header-nav__logo a img{
    width: 18rem;
}

.header .header-nav .header-nav__left ul.header-nav__list {
    display: inline-block;
}

.header .header-nav .header-nav__left .header-nav__list .header-nav__item{
    display: inline-block;
    font-size: 1.6rem;
}

.header .header-nav .header-nav__left .header-nav__list .header-nav__item .header-nav__dropdown-button{
    border: none;
    border-radius: var(--button-border-radius);
    padding: .6rem;
    color: white;
    background-color: transparent;
}

.header .header-nav .header-nav__left .header-nav__list .header-nav__item .header-nav__sub-list{
    padding: 1rem;
    position: absolute;
    background-color: #1C2437;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    list-style: none;
    box-shadow: 0px 1px 3px 4px #1C2437;
    left: 2px;
    font-size: 1.2rem;
    word-break: keep-all;
    width: 10.5rem;
    border-radius: 1px;
    z-index: 1000;
    display: none;
}

.header .header-nav .header-nav__left .header-nav__list .header-nav__item .header-nav__sub-list .header-nav__sub-item{
    margin-bottom: .7rem;
}

.header .header-nav .header-nav__left .header-nav__list .header-nav__item .header-nav__sub-list .header-nav__sub-item:last-child{
    margin-bottom: 0rem;
}

.header .header-nav .header-nav__left .header-nav__list .header-nav__item .header-nav__dropdown-button .header-nav__dropdown-icon{
    margin-left: .6rem;
}

.header .header-nav .header-nav__left .header-nav__list .header-nav__item a{
    display: inline-block;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.header .header-nav__right{
    margin-left: auto;
    display: flex;
    flex-direction: row;

    align-items: center;
    width: 40%;
}

.header .header-nav__right .header-nav__form{
    display: flex;
    width: 80%;
    margin-right: 2.1rem;
    margin-left: auto;
}

.header .header-nav__right .header-nav__form .search-input{
    border: none;
    margin: 0 1rem;
    margin-right: -2.5rem;
    margin-left: auto;
    width: 70%;
    height: 3.5rem;
    padding-left: 1rem;
    border-radius: var(--button-border-radius);
    font-size: 1.5rem;
}

.header .header-nav__right .header-nav__form .search-input::placeholder{
    font-size: 1.5rem;
}

.header .header-nav__right .header-nav__form .search-button{
    border: none;
    border-radius: none;
    background-color: #ffffff;
    cursor: pointer;
    align-self: center;
    font-size: 1.5rem;
}

.header .header-nav__right a {
    margin: 0 1rem;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.header .header-nav__right a.nav__icons {
    transition: .2s ease-in;
}

.header .header-nav__right .nav__icons--cart{
    position: relative;
}

span.icon-cart__products{
    position: absolute;
    z-index: 10;
    background-color: red;
    padding: 2px 4px;
    padding-top: 0;
    padding-bottom: 0px;
    top: -1.2rem;
    right: -1.1rem;
    border-radius: 4px;
    text-decoration: none;
    color: white;
}

.header .header-nav__right a.nav__icons:hover {
    color: var(--button-bg-color);
}

.header .header-nav__right a.user{
    margin-left: 1.6rem;
}

.header .header-nav .header-nav__right ul{
    list-style: none;
    margin-top: 1rem;
    margin-left: .5rem;
}

.header .header-nav__language-dropdown {
    display: flex;
    padding: .5rem 1rem;
    overflow: hidden;
    align-items: center;
    position: relative;
    border: none;
    background-color: transparent;
    border-radius: none;
    font-size: 1.5rem;
    color: white;
    z-index: 1;
    transition: .2s ease-in;
}

.header .header-nav__language-dropdown:before {
    content: "";
    position: absolute;
    background-color: var(--button-bg-color);
    border-radius: 5px;
    bottom: 0;
    height: 10%;
    width: 0px;
    z-index: -1;
    transition: .2s ease-in;
}

.header .header-nav__language-dropdown:hover:before {
    width: 100%;
}

.header .header-nav__language-dropdown{
    margin-left: .8rem;
    text-transform: uppercase;
}

.header-nav__language-dropdown-icon{
    margin-left: .8rem;
}

.header .header-nav__right .header-nav__language-sub-list {
    position: absolute;
    padding: 1rem;
    list-style: none;
    background-color: #2B4279;
    box-shadow: 0px 1px 3px 4px #2B4279;
    margin-bottom: .7rem;
    display: none;
    z-index: 1000;
}

.header .header-nav__right .header-nav__language-sub-lis .header-nav__language-sub-item:last-child{
    margin-bottom: 0;
}