.header{
    width: 100%;
    padding: 2.5rem 12rem;
    background-image: linear-gradient(to right, #171A21, #2D4681);
    background-size: cover;
    margin-top: 0;
}

.header-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-nav__left{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
}

.header-nav__item {
    margin-left: 2rem;
    position: relative;
    z-index: 1;
    transition: .2s ease-in;
}

.header-nav__item:before {
    content: "";
    position: absolute;
    background-color: var(--button-bg-color);
    border-radius: 5px;
    bottom: 0;
    height: 10%;
    width: 0px;
    z-index: -1;
    transition: .2s ease-in;
}

.header-nav__item:hover:before {
    width: 100%;
}

.header .header-nav .header-nav__left div.header-nav__logo{
    margin-right: 4rem;
}

.header .header-nav .header-nav__left div.header-nav__logo a img{
    width: 18rem;
}

.header .header-nav .header-nav__left ul.header-nav__list {
    display: inline-block;
}

.header .header-nav .header-nav__left .header-nav__list .header-nav__item{
    display: inline-block;
    font-size: 1.6rem;
}

.header .header-nav .header-nav__left .header-nav__list .header-nav__item .header-nav__dropdown-button{
    border: none;
    border-radius: var(--button-border-radius);
    padding: .6rem;
    color: white;
    background-color: transparent;
}

.header .header-nav .header-nav__left .header-nav__list .header-nav__item .header-nav__sub-list{
    padding: 1rem;
    position: absolute;
    background-color: #1C2437;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    list-style: none;
    box-shadow: 0px 1px 3px 4px #1C2437;
    left: 2px;
    font-size: 1.2rem;
    word-break: keep-all;
    width: 10.5rem;
    border-radius: 1px;
    z-index: 1000;
    display: none;
}

ul.show {
    display: block !important;
}

.header .header-nav .header-nav__left .header-nav__list .header-nav__item .header-nav__sub-list .header-nav__sub-item{
    margin-bottom: .7rem;
}

.header .header-nav .header-nav__left .header-nav__list .header-nav__item .header-nav__sub-list .header-nav__sub-item:last-child{
    margin-bottom: 0rem;
}

.header .header-nav .header-nav__left .header-nav__list .header-nav__item .header-nav__dropdown-button .header-nav__dropdown-icon{
    margin-left: .6rem;
}

.header .header-nav .header-nav__left .header-nav__list .header-nav__item a{
    display: inline-block;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.header .header-nav__right{
    margin-left: auto;
    display: flex;
    flex-direction: row;

    align-items: center;
    width: 40%;
}

.header .header-nav__right .header-nav__form{
    width: 50px;
    margin-right: 2.1rem;
    margin-left: auto;
    --size: 45px;
    border: 2px solid #007DCF;
    display: flex;
    border-radius: 100vh;
    overflow: hidden;
    font-size: 1.25em;
    position: relative;
    height: var(--size);
    margin-left: auto;
    transition: width 450ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
    background-color: white;
}

.header .header-nav__right .header-nav__form .search-input{
    border: none;
    flex-grow: 1;
    border-radius: var(--button-border-radius);
    font-size: 1.5rem;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    outline: 0;
    opacity: 0;
    padding-left: 2rem;
    cursor: pointer;
}

.header .header-nav__right .header-nav__form:focus-within .search-input{
    opacity: 1;
    z-index: 0;
    cursor: initial;
}

.header .header-nav__right .header-nav__form .search-input::placeholder{
    font-size: 1.5rem;
}

.header .header-nav__right .header-nav__form .search-button{
    position: absolute;
    right: 0;
    border: none;
    border-radius: 100vh;
    background: transparent;
    cursor: pointer;
    align-self: center;
    font-size: 1.7rem;
    margin-right: .5rem;
    width: calc(var(--size) - 10px);
    height: calc(var(--size) - 10px);
    transition: background 200ms ease-out;
}

.header .header-nav__right .header-nav__form:focus-within .search-button:hover,
.header .header-nav__right .header-nav__form:focus-within .search-button:focus{
    outline: 0;
    transform: rotate(1turn);
    box-shadow: 0 0 10px rgba(0,0,0,.65);
}

.header .header-nav__right .header-nav__form:focus-within .search-button{
    background-color: #007DCF;
}

.header .header-nav__right .header-nav__form:focus-within{
    width: 100%;
}

.nav__right-profile-options {
    position: relative;
}
.nav__right-profile-options-imgCont{
    height: 10rem;
    width: 10rem;
    overflow: hidden;
    border-radius: 100vh;
    z-index: 5000;
    cursor: pointer;
}
.nav__right-profile-options-imgCont img{
    width: 100%;
}

.nav__right-profile-options-icon {
    font-size: 24px;
    margin: 0 2rem;
    cursor: pointer;
}

.nav__right-profile-dropdown {
    position: absolute;
    z-index: 200;
    transition: .2s ease;
    background-color:#37405f;
    border-radius: 5px;
    width: 200px;
    top: 11rem;
    left: -4.8rem;
    color: white;
    text-decoration: none;
    padding: 1rem;
    display: none;
}

.nav__right-profile-dropdown-single {
    border-radius: 5px;
    padding: .5rem 1rem;
}

.nav__right-profile-dropdown-single a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

#profile-dropdown-5 a {
    color: #f32f57 ;
}

.nav__right-profile-dropdown-single:hover {
    background-color: #545e83;
}

.active-profile-dropdown {
    opacity: 1;
    z-index: 1;
}

.header .header-nav__language-dropdown {
    display: flex;
    padding: .5rem 1rem;
    overflow: hidden;
    align-items: center;
    position: relative;
    border: none;
    background-color: transparent;
    border-radius: none;
    font-size: 1.5rem;
    color: white;
    z-index: 1;
    transition: .2s ease-in;
}

.header .header-nav__language-dropdown:before {
    content: "";
    position: absolute;
    background-color: var(--button-bg-color);
    border-radius: 5px;
    bottom: 0;
    height: 10%;
    width: 0px;
    z-index: -1;
    transition: .2s ease-in;
}

.header .header-nav__language-dropdown:hover:before {
    width: 100%;
}

.header .header-nav__language-dropdown{
    margin-left: .8rem;
    text-transform: uppercase;
}

.header-nav__language-dropdown-icon{
    margin-left: .8rem;
}

.header .header-nav__right .header-nav__language-sub-list {
    position: absolute;
    padding: 1rem;
    list-style: none;
    background-color: #2B4279;
    box-shadow: 0px 1px 3px 4px #2B4279;
    margin-bottom: .7rem;
    display: none;
    z-index: 1000;
}

ul.show2 {
    display: block !important;
}

.show3 {
    display: block !important;
}

.header .header-nav__right .header-nav__language-sub-lis .header-nav__language-sub-item:last-child{
    margin-bottom: 0;
}
.nav__right-ulProfileOptions{
    display: flex;
    align-items: center;
}
ul.nav__right-ulProfileOptions , ul.header-nav__list{
    margin-bottom: 0 !important;
}