@media screen and (max-width: 1200px){
    .juegos-container .juegos-container__products-container{
        grid-template-columns: repeat(2, 1fr);
    } 
}

@media screen and (max-width: 800px){
    .juegos-container .juegos-container__products-container{
        grid-template-columns: 1fr;
    } 

    .juegos-container{
        flex-direction: column;
        padding: 0rem 10rem;
        justify-content: center;
    }
}